@import '../../style/variables.scss';

.Popover {
  border-radius: $radius-4-popover;
  &__wrapper {
    display: inline-block;
    position: relative;
  }

  &.space-between {
    li {
      display: flex;
      justify-content:space-between;
      width: 250px;
      padding: 0 6px;
      color: $text-2;
      font-size: $font-size-12;
      height: 20px;
      line-height: 20px;
      white-space: nowrap;

      > span:last-child {
        flex-grow: 1;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .Badge__count {
        margin: 0;
      }

      .btn {
        padding: 0;
      }
    }
  }

  &.shadow {
    &.bs-popover-top {
      border-bottom: 3px solid $primary-normal;

      .popover-arrow::after {
        border-top-color: $primary-normal !important;
      }
    }

    &.bs-popover-bottom {
      border-top: 3px solid $primary-normal;
      .popover-arrow::after {
        border-bottom-color: $primary-normal !important;
      }
    }

    &.bs-popover-start {
      border-right: 3px solid $primary-normal;
      .popover-arrow::after {
        border-left-color: $primary-normal !important;
      }
    }

    &.bs-popover-end {
      border-left: 3px solid $primary-normal;
      .popover-arrow::after {
        border-right-color: $primary-normal !important;
      }
    }
  }
}