@import '../../style/variables.scss';
.show.dropdown-toggle::after {
  transform: rotate(180deg);
}

#CustomDropdown{
  cursor: pointer;
}

.dropdown-toggle.btn {
  border-color: $border-2;

  &.btn-default,
  &.btn-info {
    &:hover {
      background-color: $bg-2-hover;
    }
    &:active {
      box-shadow: none;
      border-color: $border-2;
      background-color: $bg-2-click;
    }
  }
  &.show {
    box-shadow: none;
    background-color: $bg-2-click;
  }
}

.dropdown-menu.show {
  margin-top: 2px;
}