@import '../../style/variables.scss';

.show.btn-default.dropdown-toggle {
  color: $text-2;
  background-color: $bg-2-hover;
  border-color: $grey-7;
  -webkit-box-shadow: inset 0 3px 5px rgba($black, .125);
  box-shadow: inset 0 3px 5px rgba($black, .125);
}
