@import '../../style/variables.scss';

.NotificationList {
  position: fixed;
  right: 20px;
  top: 56px;
  z-index: 9999;
}

.alert {
  .icon {
    margin-right: 12px;

    &:before {
      font-size: $font-size-16;
    }
  }
  .close {
    opacity: 1;

  }
  .btn-close:focus {
    box-shadow: none;
  }
}

.alert-success {
  background-color: $success-bg;
  border-color: $green-2;
  color: $text-success;

  .close {
    &:hover {
      color: $success-hover;
    }

    &:active {
      color: $success-click;
    }
  }

  .icon {
    color: $success-normal;
  }
}

.alert-info {
  background-color: $updating-bg;
  border-color: $blue-2;
  color: $text-updating;

  .close {
    &:hover {
      color: $updating-hover;
    }

    &:active {
      color: $updating-click;
    }
  }

  .icon {
    color: $updating-normal;
  }
}

.alert-warning {
  background-color: $warning-bg;
  border-color: $yellow-2;
  color: $text-warning;

  .close {
    &:hover {
      color: $warning-hover;
    }

    &:active {
      color: $warning-click;
    }
  }

  .icon {
    color: $warning-normal;
  }
}

.alert-danger {
  background-color: $error-bg;
  border-color: $red-2;
  color: $text-error;

  .close {
    &:hover {
      color: $error-hover;
    }

    &:active {
      color: $error-click;
    }
  }

  .icon {
    color: $error-normal;
  }
}

.NotificationList__control-wrapper {
  text-align: right;
  cursor: pointer;

  .NotificationList__control {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 70px;
    background: $white;
    border: 1px solid $border-2;
    text-align: left;
    font-size: $font-size-12;
    border-radius: 3px;
    padding: 5px;

    .NotificationList__control-left {
      display: inline-flex;
      align-items: center;
    }

    .icon {
      font-size: $font-size-12;
    }
    .icon-list {
      margin-right: 5px;
    }

    .NotificationList__indicator {
      transition: 0.4s;
      &--expanded {
        transform: rotate(180deg);
      }
    }
  }
}

.Notification {
  position: relative;
  /* alert 'float: right' 在IE中导致通知变为一行排列，改为通过 'text-align: right' 实现 */
  text-align: right;
  line-height: 22px;
  max-width: 500px;
  word-break: break-all;

  .alert {
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
    min-width: 260px;
    max-width: 500px;
    padding: 9px 35px 9px 16px;
    margin-bottom: 0;
    font-size: $font-size-14;
    overflow: hidden;
    text-align: left;
    .icon-loading {
      width: 14px;
      height: 14px;
      display: inline-block;
      border-top: 2px solid $updating-normal;
      border-right: 2px solid $updating-normal;
      animation: spin 1s linear infinite;
      border-radius: $radius-100-load;
      box-sizing: content-box;
    }
    .icon {
      flex: 0 0 14px;
      margin-right: 8px;
      vertical-align: top;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
    .Notification__Text {
      display: inline-block;
    }
  }
  .alert-dismissible-close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 9px 16px;
    right: 0;
    font-size: 21px;
    font-weight: 500;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;

    span {
      cursor: pointer;
    }
  }
}

.Notification-enter {
  transform: translate3d(300px, 0, 0);
  &.Notification-enter-active {
    animation-name: bounceInRight;
    animation-duration: .7s;
  }
}

.Notification-leave-active {
  animation-name: bounceOutRight;
  animation-duration: .65s;
}

.Notification__faultMsg {
  text-indent: 28px;
}

@keyframes bounceInRight {
  from, 60%, 75%, to {
    animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(300px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes bounceOutRight {
  from, 60%, 75%, to {
    animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  }
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(1000px, 0, 0);
  }
}
