@import '../../style/variables.scss';
.rc-time-picker {
  position: relative;

  .icon.icon-time-line {
    position: absolute;
    right: 6px;
    align-items: center;
    overflow: hidden;
    display: flex;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    top: 7px;
    margin: 0;
    color: $icon-2;
  }
}

.rc-time-picker-clear {
  top: 6px;
}
.rc-time-picker-input {
  height: 34px;
  font-size: $font-size-14;
}

.rc-time-picker-panel-inner:not(.rc-calendar-time-picker-panel > .rc-time-picker-panel-inner) {
  top: 41px;
}