.rc-time-picker {
  position: relative;
}
.glyphicon-time {
  position: absolute;
  right: 6px;
  overflow: hidden;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  top: 7px;
  margin: 0;
  color: #ccc;
}
.rc-time-picker-clear {
  top: 6px;
}
.rc-time-picker-input {
  height: 34px;
  font-size: 14px;
}
