@import '../../Layout/theme.scss';

.Main__Toc {
  position: fixed;
  width: inherit;
  margin-top: 25px;
  padding-left: 20px;
  @include themify($themes) {
    border-left: 1px solid themed('border-color');
  }
  & > div {
    line-height: 2;
  }
  &--li {
    &2 {
      font-size: $font-size-14;
    }
    &3 {
      font-size: $font-size-12;
      padding-left: 15px;
    }
  }
  a {
    @include themify($themes) {
      color: themed('bd-color');
    }
    text-decoration: none;
    &.current,
    &:hover {
      color: #6b58c4;
    }
  }
}
@media(max-width: 900px) {
  .Main__Toc{
    display: none;
  }
}
