@import '../../style/variables.scss';
.Loader {
    position: relative;
    display: flex;
}

.Loader__inner {
    margin: auto;
    text-align: center;
}

.Loader__circle {
    box-sizing: border-box;
    width: 64px;
    height: 64px;
    border-radius: $radius-100-load;
    border: 6px solid rgba($white, 0.3);
    border-top-color: $white;
    animation: spin 1s infinite linear;
    display: inline-block;
}

.Loader__text {
    color: rgba($white, .9);
    text-align: center;
    padding-top: 10px;
}

.Loader--mi .Loader__circle{
    width: 64px;
    height: 64px;
    border-width: 6px;
}

.Loader--sm .Loader__circle {
    width: 32px;
    height: 32px;
    border-width: 4px;
}

.Loader--xs .Loader__circle{
  width: 16px;
  height: 16px;
  border-width: 2px;
}

.Loader--sm .Loader__text {
    padding-top: 5px;
}

.Loader--mi .Loader__text {
    padding-top: 8px;
}
.Loader--xs .Loader__text {
  padding-top: 8px;
  font-size: $font-size-12;
  line-height: 100%;

}

.Loader--primary .Loader__circle {
    border-color: rgba($primary-normal, 0.3);
    border-top-color: $primary-normal;
}
.Loader--primary .Loader__text {
    color: $text-2;
}


@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}