@import '../../style/variables.scss';

.Badge {
  display: inline-block;
  line-height: 1;
  &__count {
    margin: 0 5px;
    color: $white;
    display: inline-block;
    border-radius: calc($badge-height / 2);
    height: $badge-height;
    min-width: $badge-height;
    text-align: center;
    line-height: $badge-height;
    font-size: $font-size-12;
    padding: 0 4px;
    white-space: nowrap;
  }
  &__dot {
    display: inline-block;
    vertical-align: middle;
    & + .Badge__text{
      margin-left: 4px;
      vertical-align: middle;
    }
    &.small {
      width: $badge-dot-small-size;
      height: $badge-dot-small-size;
      border-radius: calc($badge-dot-small-size / 2);
    }
    &.middle {
      width: $badge-dot-small-size * 1.66666666666666;
      height: $badge-dot-small-size * 1.66666666666666;
      border-radius: $badge-dot-small-size;
    }
    &.large {
      width: $badge-dot-small-size * 3;
      height: $badge-dot-small-size * 3;
      border-radius: $badge-dot-small-size * 1.5;
    }
  }
  &--default {
    background-color: $offline-normal;
  }
  &--primary {
    background-color: $primary-normal;
  }
  &--success {
    background-color: $success-normal;
  }
  &--info {
    background-color: $updating-normal;
  }
  &--state {
    background-color: $white;
  }
  &--critical {
    background-color: $critical-normal;
  }
  &--warning {
    background-color: $warning-normal;
  }
  &--danger {
    background-color: $error-normal;
  }
}

.Badge__wrapper {
  position: relative;
  & > .Badge__count{
    position: absolute;
    transform: translateX(-50%);
    top: calc($badge-height / (-2));
    font-size: $font-size-12;
  }
  & > .Badge__dot {
    position: absolute;
    transform: translateX(-50%);
    &.small {
      top: calc($badge-dot-small-size / (-2));
    }
    &.middle {
      top: calc($badge-dot-small-size * (-1));
    }
    &.large {
       top: calc($badge-dot-small-size * (-1.5));
    }
  }
}

.Badge__count {
  min-width: 16px;
  line-height: 16px;
  height: 16px;
}
