{
  "presets": [
    [
      "react-app",
      {
        "absoluteRuntime": false
      }
    ]
  ],
  "ignore": [
    "**/*.test.tsx",
    "**/types",
    "**/interface.tsx",
    "**/global.d.ts",
    "**/react-app-env.d.ts",
    "**/setupTests.ts"
  ],
  "minified": true
}