@import '../../style/index.scss';

.Button_Tooltip-Div {
  display: inline-block;
  cursor: not-allowed;
  &-Button {
    pointer-events: none;
  }
}

.btn-info {
  @include button-variant($white, $border-2, $text-2, shade-color($white, 10%), shade-color($border-2, 10%), $text-2, $active-color: $text-2, $active-background: shade-color($white, 10%),$active-border:shade-color($border-2,10%))
}

.btn-primary {
  @include button-variant($primary-normal, $primary-normal, $white)
}

.btn-danger {
  @include button-variant($error-normal, $error-normal, $white, $hover-color: $white)
}

.btn-success {
  @include button-variant($success-normal, $success-normal, $white, $hover-color: $white, $active-color: $white)
}

.btn-warning {
  @include button-variant($warning-normal, $warning-normal, $white, $hover-color: $white, $active-color: $white)
}



.btn-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.btn:disabled {
  border-color: $border-2;
  color: $text-2;
}