@import '../../../node_modules/bootstrap/scss/functions';
@import '../../style/bootstrap-custom.scss';
@import '../../../node_modules/bootstrap/scss/mixins/buttons';
@import '../../../node_modules/bootstrap/scss/mixins/box-shadow';


.Button_Tooltip-Div {
  display: inline-block;
  cursor: not-allowed;

  .btn[disabled] {
    pointer-events: none;
  }
}

.btn-xs {
  padding: 1px 8px;
  font-size: 12px;
  line-height: 20px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-text-default{
  @include button-variant(
    $white,
    transparent,
    $text-2,
    $bg-2-hover,
    transparent,
    $text-2,
    $bg-2-click,
    transparent,
    $text-2,
    $white,
    transparent,
    $text-4
  )
}

.btn-text-primary{
  @include button-variant(
    $white,
    transparent,
    $primary-normal,
    $bg-2-hover,
    transparent,
    $primary-normal,
    $bg-2-click,
    transparent,
    $primary-normal,
    $white,
    transparent,
    $primary-disable
  )
}

.btn-text-danger{
  @include button-variant(
    $white,
    transparent,
    $error-normal,
    $bg-2-hover,
    transparent,
    $error-normal,
    $bg-2-click,
    transparent,
    $error-normal,
    $white,
    transparent,
    $error-disable
  )
}

.btn-info {
  @include button-variant ($white,
    $border-2,
    $text-2,
    $grey-1,
    $border-2,
    $text-2,
    $grey-2,
    $border-2,
    $text-2,
    $disabled-background: $grey-2,
    $disabled-color: $text-4 );
}

.btn-primary {
  border-color: transparent;
  &:focus{
    @include box-shadow($interactive-primary-focus !important)
  }
  &:active{
    @include box-shadow($interactive-primary-active !important);
  }
  @include button-variant($primary-normal,
    transparent,
    $white,
    $primary-hover,
    transparent,
    $white,
    $primary-click,
    transparent,
    $white,
     $primary-disable,
     transparent,
     $white)
}

.btn-danger {
  &:focus{
    @include box-shadow($interactive-danger-focus !important)
  }
  &:active{
    @include box-shadow($interactive-danger-active !important);
  }
  @include button-variant($error-normal,
  transparent,
    $white,
    $error-hover,
    transparent,
    $white,
    $error-click,
    transparent,
    $white,
     $error-disable,
     transparent,
    $white)
}

.btn-outline-danger{
  &:focus{
    @include box-shadow($interactive-danger-focus !important)
  }
  &:active{
    @include box-shadow($interactive-danger-active !important);
  }
  @include button-variant($white,
  $error-normal,
  $error-normal,
  $red-1,
  $error-normal,
  $error-normal,
  $red-2,
  $error-normal,
  $error-normal,
  $white,
  $error-disable,
  $error-disable)
}

.btn-success {
  @include button-variant($success-normal,
    $success-normal,
    $white,
    $success-hover,
    $success-normal,
    $white,
    $success-click,
    $success-normal,
    $white,
    $disabled-color: $white)
}

.btn-warning {
  @include button-variant($warning-normal,
    $warning-normal,
    $white,
    $warning-hover,
    $warning-normal,
    $white,
    $warning-click,
    $warning-normal,
    $white,
    $disabled-color: $white)
}

.btn[disabled] {
  cursor: not-allowed;
  pointer-events: unset;
}

.btn-primary[disabled]:hover,
.btn-primary.disabled:hover,
.btn-primary[disabled]:active,
.btn-primary.disabled:active 
.btn-primary[disabled]:focus,
.btn-primary.disabled:focus
{
  background-color: $primary-disable;
  color: $white ;
  box-shadow: none !important;
}

.btn-danger[disabled]:hover,
.btn-danger.disabled:hover,
.btn-danger[disabled]:active,
.btn-danger.disabled:active,
.btn-danger[disabled]:focus,
.btn-danger.disabled:focus{
  background-color: $error-disable;
  color: $white;
  box-shadow: none !important;
}

.btn-info[disabled]:hover,
.btn-info.disabled:hover,
.btn-info[disabled]:active,
.btn-info.disabled:active{
  background-color: $grey-2;
  border-color: $border-2;
  color: $text-4;
}

.btn-success[disabled]:hover,
.btn-success.disabled:hover,
.btn-success[disabled]:active,
.btn-success.disabled:active{
  background-color: $success-normal;
 box-shadow: none;
}

.btn-warning[disabled]:hover,
.btn-warning.disabled:hover,
.btn-warning[disabled]:active,
.btn-warning.disabled:active{
  background-color: $warning-normal;
 box-shadow: none;
}

.btn-link.disabled,
.btn-link[disabled],
.btn-link[disabled]:hover,
.btn-link.disabled:hover,
.btn-link[disabled]:active,
.btn-link.disabled:active{
  color: $primary-normal;
  text-decoration: none;
}

.btn-outline-danger[disabled]:hover,
.btn-outline-danger.disabled:hover,
.btn-outline-danger[disabled]:active,
.btn-outline-danger.disabled:active,
.btn-outline-danger[disabled]:focus,
.btn-outline-danger.disabled:focus{
  background-color: $white;
  color: $error-disable;
  border-color: $error-disable;
  box-shadow: none !important;
}

.btn-text-primary[disabled]:hover,
.btn-text-primary.disabled:hover,
.btn-text-primary[disabled]:active,
.btn-text-primary.disabled:active 
.btn-text-primary[disabled]:focus,
.btn-text-primary.disabled:focus
{
  background-color: $white;
  color: $primary-disable ;
}

.btn-text-danger[disabled]:hover,
.btn-text-danger.disabled:hover,
.btn-text-danger[disabled]:active,
.btn-text-danger.disabled:active 
.btn-text-danger[disabled]:focus,
.btn-text-danger.disabled:focus
{
  background-color: $white;
  color: $error-disable ;
}

.btn-text-default[disabled]:hover,
.btn-text-default.disabled:hover,
.btn-text-default[disabled]:active,
.btn-text-default.disabled:active 
.btn-text-default[disabled]:focus,
.btn-text-default.disabled:focus
{
  background-color: $white;
  color: $text-4 ;
}