.Home {
  &__left {
    padding-top: 30px;
  }
  &__btn {
    a:first-child {
      margin-right: 20px;
    }
  }
  &__feature {
    background-color: #846ee0;
    color: #fff;
  }
}
@media(min-width: 768px) {
  .Home {
    &__hero {
      padding: 80px 60px;
    }
    &__left {
      padding-top: 60px;
    }
    &__feature {
      padding: 40px 60px;
    }
  }
}

@media(max-width: 768px) {
  .Home {
    &__btn {
      margin-bottom: 20px;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}