@import '../../style/variables.scss';

.Tabs--right {
  & > ul.nav-tabs {
    display: flex;
    justify-content: flex-end;
  }
  & > .clearfix > ul.nav-tabs {
    display: flex;
    justify-content: flex-end;
  }
  ul.dropdown-menu{
    left:inherit;
    right: 0;
  }
}
.Tabs__Body {
  margin-bottom: 0;
}

.Tabs .nav-tabs {
  border: none;
  margin-left: 20px;
}

.Tabs .nav-tabs > li {
  background-color: $gray-medium-1;
  margin-right: 2px;
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;
  height: 40px;
  border-top: 2px solid $gray-medium-1;
  font-size: 13px;

  & > a {
    color: $gray-darker-2;
    margin: 0;
    outline: none;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 67px;
    text-align: center;

    &:hover {
      background-color: $purple-lighter-3;
      color: $gray-darker-3;
    }

    &:active {
      background-color: $white;
    }

    &:focus {
      border: none;
    }
  }

  &:hover {
    border-top: 2px solid $purple-lighter-3;
  }

  &:active {
    border-top: 2px solid $white;

    & > a {
      border-bottom: 1px solid $white;
      color: $gray-darker-3;
    }
  }

  &.active {
    border-top: 2px solid $brand-primary;

    & > a {
      background-color: $white;
      color: $gray-darker-3;
      border-bottom: 1px solid $white;

      &:hover {
        border:none;     
        border-bottom: 1px solid $white;
      }
    }
  }
}

.Tabs .tab-content {
  background-color: $white;
  border-radius: 4px;
  height: calc(100% - 40px);
  .panel-heading {
    font: 16px/20px $PingFangFont;
    background-color: $white;
    border: none;
  }
}

.Tabs--small .nav-tabs > li {
  height: 28px;
  font-size: 12px;

  &.active {
    border-left: 1px solid $gray-lighter-2;
    border-right: 1px solid $gray-lighter-2;
  }

  & > a {
    line-height: 1;
    padding-top: 7px;
    padding-bottom: 7px;
  }
}
