@import '../../../src/style/icomoon/style.css';
@import './bootstrap.scss';

@media(min-width: 768px) {
  table {
    th, td {
      padding: 16px 24px;
    }
  }
}

@media(max-width: 768px) {
  body {
    font-size: 12px;
  }
  table {
    th, td {
      padding: 8px 4px;
      word-break: break-all;
    }
  }
}

.pre {
  border-radius: 4px;
  margin-bottom: 10px;
}
h1 {
  margin-top: 8px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 30px;
}
h2 {
  font-size: 24px;
  line-height: 32px;
}
h3 {
  font-size: 20px;
  line-height: 28px;
}
table {
  width: 100%;
  margin: 8px 0 16px;
  th {
    color: #5c6b77;
    font-weight: 500;
    white-space: nowrap;
    background: rgba(0,0,0,0.02);
    border: 1px solid #ebedf0;
  }
  td {
    text-align: left;
    border: 1px solid #ebedf0;
  }
}
.Main__Body {
  margin-bottom: 20px;
  h2:before,
  h3:before {
    display: block;
    height: 5rem;
    margin-top: -5rem;
    visibility: hidden;
    content: "";
  }
}

.prev-next-nav {
  overflow: hidden;
  font-size: 14px;
  border-top: 1px solid #ebedf0;
  .prev-page,
  .next-page {
    display: block;
    width: 50%;
    height: 72px;
    line-height: 72px;
  }
  .prev-page {
    float: left;
  }
  .next-page {
    float: right;
    text-align: right;
  }
}