@import '../../../src/style/icomoon/style.css';
.pre {
  border-radius: 4px;
  margin-bottom: 10px;
}
h1 {
  margin-top: 8px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 30px;
}
h2 {
  font-size: 24px;
  line-height: 32px;
  &:before {
    display: block;
    height: 5rem;
    margin-top: -5rem;
    visibility: hidden;
    content: "";
  }
}
h3 {
  font-size: 20px;
  line-height: 28px;
  &:before {
    display: block;
    height: 5rem;
    margin-top: -5rem;
    visibility: hidden;
    content: "";
  }
}
table {
  width: 100%;
  margin: 8px 0 16px;
  th {
    color: #5c6b77;
    font-weight: 500;
    padding: 16px 24px;
    white-space: nowrap;
    background: rgba(0,0,0,0.02);
    border: 1px solid #ebedf0;
  }
  td {
    padding: 16px 24px;
    text-align: left;
    border: 1px solid #ebedf0;
  }
}
.Main__Body {
  margin-bottom: 20px;
}

.prev-next-nav {
  overflow: hidden;
  font-size: 14px;
  border-top: 1px solid #ebedf0;
  .prev-page,
  .next-page {
    display: block;
    width: 50%;
    height: 72px;
    line-height: 72px;
  }
  .prev-page {
    float: left;
  }
  .next-page {
    float: right;
    text-align: right;
  }
}