@import '../../style/variables.scss';
.icon {
  svg {
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  &.primary {
    color: $purple-normal;
  }
}
