@import '../../style/variables.scss';
svg {
  &.icon {
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  &.primary {
    color: $purple-normal
  }
}