@import '../../style/variables.scss';

.icon {
  line-height: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  svg {
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    pointer-events: none;
  }
  &.primary {
    color: $purple-normal;
  }
  &.cursor {
    padding:6px;
    cursor: pointer;
    &:hover {
      background-color: $gray-lighter-5;
    }
    &:active {
      background-color: #E6E6E6;
    }
  } 
}