@import '../../style/variables.scss';

.Navigation {
  height: 100%;
}

.Navigation__logo {
  /* background-color: $gray-darker-4; 组件废弃，变量废弃 */
  height: $height-topbar;
  line-height: $height-topbar;
  text-align: center;
  width: 100%;
  z-index: 99;
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, .15);
}

.Navigation__list {
  .Tooltip {
    display: block;
    color: $white;
    text-align: center;
    min-height : 36px;
    line-height: 36px;
  }
  .panel-title .panel-title__icon {
      float: right;
      line-height: 36px;
      padding-right: 17px;
    }
  margin: 0;
  overflow-y: auto;
  /* 折叠组样式覆盖 */
  .panel {
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
    background-color: inherit;
    /* border-bottom: 1px solid $gray-darker-7; 组件废弃，变量废弃 */
    .panel-heading {
      padding: 0;
      /* background-color: $gray-darker-5; 组件废弃，变量废弃 */
      border-bottom: 0;
      a {
        display: block;
        /* color: $gray-darker-1; 组件废弃，变量废弃 */
        font-size: $font-size-14;
        padding-left: 20px;
        line-height: 36px;
        cursor: pointer;
        text-decoration: none;
        position: relative;
        .Navigation--toggled & {
          padding-left: 15px;
          .panel-title__icon {
            position: static;
          }
        }
      }
    }
    .panel-collapse {
      .panel-body {
        padding: 0;
        border-top: 0;
       /* background-color: $gray-darker-7; 组件废弃，变量废弃 */
      }
    }
  }
}

.Navigation__item--first {
  .icon {
    .Navigation--toggled & {
      display: inline-block;
    }
  }
  .Navigation__link {
    padding-left: 20px;
  }
}

.Navigation__link {
  /* color: $gray-darker-1; 组件废弃，变量废弃 */
  font-size: $font-size-14;
  line-height: 36px;
  display: block;
  padding-left: 20px;
  .Navigation--toggled & {
    padding-left: 15px;
  }
}
.Navigation__link:hover,
.Navigation__link:focus,
.Navigation__link:active,
.Navigation__link--active {
  color: $white;
  text-decoration: none;
  /* background-color: $gray-darker-6; 组件废弃，变量废弃 */
}

.Navigation__link--active {
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: $primary-normal;
  }
}

.Navigation__link .icon {
  margin-right: 12px;
}

/**
 * 折叠之后的tooltip
 */
.Navigation__tooltip {
  .tooltip.in {
    opacity: 0.95;
  }
   .tooltip-inner {
    font-size: $font-size-14;
    padding: 2px 8px;
    background-color: $primary-normal;
  }
}
.Navigation__tooltip.tooltip[data-popper-placement^="right"] .tooltip-arrow:before{
  border-right-color: $primary-normal;
}
