@import '../../style/variables.scss';

.Navigation {
  height: 100%;
}
.Navigation--logo {
  padding-top: $height-topbar;
}

.Navigation__logo {
  background-color: $gray-darker-4;
  height: $height-topbar;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, .15);
}

.Navigation__list {
  margin: 0;
  padding: 15px 0 0;
  overflow-y: auto;
  height: 100%;
  /* 折叠组样式覆盖 */
  .panel {
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
    background-color: inherit;
    border-bottom: 1px solid $gray-darker-7;
    .panel-heading {
      padding: 0;
      background-color: $gray-darker-5;
      border-bottom: 0;
      a {
        display: block;
        color: $gray-darker-1;
        font-size: 13px;
        padding-left: 20px;
        line-height: 36px;
        cursor: pointer;
        text-decoration: none;
        position: relative;
        .panel-title__icon {
          position: absolute;
          right: 15px;
          top: 9px;
        }
        .Navigation--toggled & {
          padding-left: 15px;
          .panel-title__title {
            display: none;
          }
          .panel-title__icon {
            position: static;
          }
        }
      }
    }
    .panel-collapse {
      .panel-body {
        padding: 0;
        border-top: 0;
        background-color: $gray-darker-7;
      }
    }
  }
}

.Navigation__item--first {
  .icon {
    .Navigation--toggled & {
      display: inline-block;
    }
  }
  .Navigation__link {
    padding-left: 20px;
  }
}

.Navigation__link {
  color: $gray-darker-1;
  font-size: 13px;
  line-height: 36px;
  display: block;
  padding-left: 20px;
  .Navigation--toggled & {
    padding-left: 15px;
  }
}
.Navigation__link:hover,
.Navigation__link:focus,
.Navigation__link:active,
.Navigation__link--active {
  color: $white;
  text-decoration: none;
  background-color: $gray-darker-6;
}

.Navigation__link--active {
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: $brand-primary;
  }
}

.Navigation__link .icon {
  margin-right: 12px;
}

.Navigation--toggled .Navigation__item__title {
  display: none;
}

/**
 * 折叠之后的tooltip
 */
.Navigation__tooltip {
  .tooltip.in {
    opacity: 0.95;
  }
   .tooltip-inner {
    font-size: 13px;
    padding: 2px 8px;
    background-color: $purple-normal;
  }
}
.Navigation__tooltip.tooltip.right .tooltip-arrow{
  border-right-color: $purple-normal;
}
