.HeaderSearch {
  position: relative;
  margin-right: 20px;
  max-width: 200px;
  margin-top: 8px;
  ul {
    position: absolute;
    right: 0;
    width: 360px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    padding-left: 0px;
    border-radius: $radius-input;
    max-height: 170px;
    overflow: scroll;
    li {
      list-style: none;
      a {
        display: block;
        height: 34px;
        line-height: 34px;
        padding-left: 10px;
        padding-right: 10px;
        &:hover {
          text-decoration: none;
          background-color: #dad6f7;
        }
      }
      span {
        float: right;
      }
    }
  }
}