@import '../../style/variables.scss';
.alert {
  &.with-icon{
    position: relative;
    padding-left: 30px;
    & .icon {
      position: absolute;
      display: inline-flex;
      left: .75rem;
      top: 1.45rem;
    }
  }
  a {
    color: $primary-normal;
  }
  &.alert-danger {
    & .icon path {
      fill: $error-normal;
    }
  }
  &.alert-info {
    & .icon path {
      fill: $updating-normal;
    }
  }
  &.alert-success {
    & .icon path {
      fill: $success-normal;
    }
  }
  &.alert-warning {
    & .icon path {
      fill: $warning-normal;
    }
  }
  &.show-alert{
    &.dismiss-up{
      transform: rotateX(0deg);
      transform-origin: 0 0 0;
    }
    &.dismiss-right{
      transform: rotateY(0deg);
      transform-origin: 100% 100% 0;
    }
    &.dismiss-down{
      transform: rotateX(0deg);
      transform-origin: 100% 100% 0;
    }
    &.dismiss-left{
      transform: rotateY(0deg);
      transform-origin: 0 100% 0;
    }
  }
  &.hidden-alert{
    &.dismiss-up{
      transform: rotateX(90deg);
      transform-origin: 0 0 0;
    }
    &.dismiss-right{
      transform: rotateY(90deg);
      transform-origin: 100% 100% 0;
    }
    &.dismiss-down{
      transform: rotateX(90deg);
      transform-origin: 100% 100% 0;
    }
    &.dismiss-left{
      transform: rotateY(90deg);
      transform-origin: 0 100% 0;
    }
  }
  
  transition: transform .35s ease;
}
