@import '../../style/variables.scss';

.Alert {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: $radius-4-card;

  .Alert-container {
    flex: 1;
    display: flex;
    align-items: center;

    &.dismiss-container {
      margin-right: 16px;
    }

    &.justify-center {
      justify-content: center;
    }

    .icon {
      font-size: 14px;
      margin-right: 8px;
      margin-bottom: 1px;
    }
  }

  &.Alert-error {
    color: $text-error;
    &.bg-bordered {
      background: $error-bg;
      /* 直接使用色板颜色 */
      border: 1px solid $red-2;
    }
    &.bg-solid {
      background: $error-bg;
    }
  }

  &.Alert-info {
    color: $text-updating;
    &.bg-bordered {
      background: $updating-bg;
      border: 1px solid $blue-2;
    }
    &.bg-solid {
      background: $updating-bg;
    }
  }

  &.Alert-warning {
    color: $text-warning;
    &.bg-bordered {
      background: $warning-bg;
      border: 1px solid $yellow-2;
    }
    &.bg-solid {
      background: $warning-bg;
    }
  }

  .icon-close {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    cursor: pointer;
    path {
      color: $icon-1;
    }
  }
  &.show-alert {
    &.dismiss-up {
      transform: rotateX(0deg);
      transform-origin: 0 0 0;
    }

    &.dismiss-right {
      transform: rotateY(0deg);
      transform-origin: 100% 100% 0;
    }

    &.dismiss-down {
      transform: rotateX(0deg);
      transform-origin: 100% 100% 0;
    }

    &.dismiss-left {
      transform: rotateY(0deg);
      transform-origin: 0 100% 0;
    }
  }

  &.hidden-alert {
    &.dismiss-up {
      transform: rotateX(90deg);
      transform-origin: 0 0 0;
    }

    &.dismiss-right {
      transform: rotateY(90deg);
      transform-origin: 100% 100% 0;
    }

    &.dismiss-down {
      transform: rotateX(90deg);
      transform-origin: 100% 100% 0;
    }

    &.dismiss-left {
      transform: rotateY(90deg);
      transform-origin: 0 100% 0;
    }
  }

  &.bg-plain {
    padding: 8px 0;
    margin-bottom: 0;
  }

  transition: transform .35s ease;
}