.Icon {
  &__ul {
    background-color: #edeef2;
    display: flex;
    flex-wrap: wrap;
    font-size: $font-size-20;
  }
  &__li {
    width: 20%;
    text-align: center;
    padding: 25px 10px;
    &:hover {
      background-color: #dbddec;
    }
    p {
      font-size: $font-size-12;
    }
    .icon {
      font-size: $font-size-20;
      display: block;
      margin-bottom: 10px;
    }
  }
}