@import '../../style/variables.scss';

.Modal {
  // 修复添加拖动功能后，滚动条跟随的bug
  // 覆盖原有 .modal-content的样式，让拖动的dom显示其样式
  .modal-dialog > .modal-content{
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba($black, .5);
    box-shadow: 0 5px 15px rgba($black, .5);
  }
  .modal-header{
    .modal-title {
      font-size: $font-size-16;
    }
    .close {
      // 添加定位属性，让 close 的 icon 在 drag-handle上层
      position: relative;
      height: 25px;
      margin-top: -11px;
      .close-icon {
        font-size: 21px;
        color: $black;
        opacity: 0.2;
        cursor: pointer;
      }
    }
  }
  .modal-body {
    padding: 24px 50px 0 50px;
  }
  .modal-footer {
    padding: 15px 20px;
    .Loader {
      display: inline-block;
      padding-right: 5px;
      .Loader__circle {
        vertical-align: middle;
      }
    }
  }
  .drag-handle {
    width: 100%;
    height: 45px;
    position: absolute;
    top: -5px;
    cursor: move;
  }
  @media (min-width: 1225px) {
    .modal-xlg {
      width: 1200px;
      max-width: none;
    }
  }
  @media (max-width: 1224px) and (min-width: 992px) {
    .modal-xlg {
      width: 900px;
      max-width: none;
    }
  }
  /* 禁止点击 modal 外部区域的抖动动画 */
  &.show.modal-static .modal-dialog {
    transform: none !important;
  }
}
