@import '../../style/variables.scss';

.UsageBar {
  display: flex;
  flex-direction: column;
  .progress {
    margin-bottom: 0;
    height: 8px;
  }
  &.inline {
    display: inline-block;
    width: 120px;
    &.hasExtraInfo {
      width: 200px;
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    &--left {
      white-space: nowrap;
      margin-right: 10px;
    }
    &--extra {
      color: #808495;
    }
    &--right {
      white-space: nowrap;
    }
  }
  &__water-line {
    height: 20px;
    width: 1px;
    position: relative;
    background-color: $red-normal;
    margin-top: -15px;
  }
  &__legend {
    line-height: 20px;
    margin-top: 4px;
    font-size: 12px;
    .Legend {
      display: flex;
      span:nth-child(1) {
        flex: 0 1 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 8px;
        &::before {
          content: '';
          display: inline-block;
          width: 8px;
          height: 8px;
          margin-right: 4px;
          border-radius: 4px;
          background-color: $purple-normal;
        }
      }
      &.noVal span:nth-child(2) {
        color: $gray-medium-6;
      }
      span:nth-child(2) {
        flex: 0 0 auto;
      }
      &.success span:nth-child(1)::before {
        background-color: $brand-success;
      }
      &.danger span:nth-child(1)::before {
        background-color: $brand-danger;
      }
      &.warning span:nth-child(1)::before {
        background-color: $brand-warning;
      }
      &.info span:nth-child(1)::before {
        background-color: $gray-medium-10;
      }
      &.critical span:nth-child(1)::before {
        background-color: $brand-critical;
      }
      &.default span:nth-child(1)::before {
        background-color: $gray-lighter-5;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      }
      &.primary span:nth-child(1)::before {
        background-color: $purple-normal;
      }
      &.chart1 span:nth-child(1)::before {
        background-color: $blue-normal;
      }
      &.chart2 span:nth-child(1)::before {
        background-color: $green-normal;
      }
      &.chart3 span:nth-child(1)::before {
        background-color: $blue-royal-gray-4;
      }
      &.chart4 span:nth-child(1)::before {
        background-color: $green-darker-4;
      }
      &.chart5 span:nth-child(1)::before {
        background-color: $purple-darker-5;
      }
      &.chart6 span:nth-child(1)::before {
        background-color: $blue-gray-4;
      }

    }
  }
}

.progress-bar-info {
  background-color: $gray-medium-10;
}

.progress-bar-critical {
  background-color: $brand-critical;
}

.progress-bar-default {
  background-color: $gray-lighter-5;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
