@import '../../style/variables.scss';

.UsageBar {
  display: flex;
  flex-direction: column;
  .progress {
    margin-bottom: 0;
    height: 8px;
  }
  &.inline {
    display: inline-block;
    width: 120px;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    &--left {
      white-space: nowrap;
      margin-right: 10px;
    }
    &--right {
      white-space: nowrap;
    }
  }
  &__water-line {
    height: 20px;
    width: 1px;
    position: relative;
    background-color: $red-normal;
    margin-top: -15px;
  }
  &__legend {
    line-height: 20px;
    margin-top: 8px;
    font-size: 12px;
    .Legend {
      display: flex;
      justify-content: space-between;
      &:nth-child(2n) {
        padding-left: 16px;
      }
      &:nth-child(2n+1) {
        padding-right: 16px;
      }
      span:nth-child(1) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 12px;
        &::before {
          content: '';
          display: inline-block;
          width: 8px;
          height: 8px;
          margin-right: 4px;
          border-radius: 2px;
          background-color: $purple-normal;
        }
      }
      &.success span:nth-child(1)::before {
        background-color: $brand-success;
      }
      &.danger span:nth-child(1)::before {
        background-color: $brand-danger;
      }
      &.warning span:nth-child(1)::before {
        background-color: $brand-warning;
      }
      &.info span:nth-child(1)::before {
        background-color: $gray-medium-10;
      }
      &.critical span:nth-child(1)::before {
        background-color: $brand-critical;
      }
    }
  }
}

.progress-bar-info {
  background-color: $gray-medium-10;
}

.progress-bar-critical {
  background-color: $brand-critical;
}

.PercentStack__tooltip-item {
  padding: 5px;
  position: relative;
  padding-left: 20px;
  .items::before {
    content: '';
    position: absolute;
    left: 2px;
    top: 10px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $white;
    border: 1px solid $white;
  }
  .item-0::before {
    display: none;
  }

  .item-1::before {
    border-color: $purple-normal;
    background-color: $purple-normal;
  }

  .item-2::before {
    border-color: $gray-medium-10;
    background-color: $gray-medium-10;
  }
}

