@import '../../style/variables.scss';

.UsageBar {
  display: flex;
  flex-direction: column;
  .progress {
    margin-bottom: 0;
    height: 8px;
  }
  &.inline {
    display: inline-block;
    width: 120px;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    &--left {
      white-space: nowrap;
      margin-right: 10px;
    }
    &--right {
      white-space: nowrap;
    }
  }
  &__water-line {
    height: 20px;
    width: 1px;
    position: relative;
    background-color: $error-normal;
    margin-top: -15px;
  }
  &__legend {
    line-height: 20px;
    margin-top: 4px;
    font-size: 12px;
    .Legend {
      display: flex;
      span:nth-child(1) {
        flex: 0 1 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 8px;
        &::before {
          content: '';
          display: inline-block;
          width: 8px;
          height: 8px;
          margin-right: 4px;
          border-radius: 4px;
          background-color: $primary-normal;
        }
      }
      &.noVal span:nth-child(2) {
        color: $text-3;
      }
      span:nth-child(2) {
        flex: 0 0 auto;
      }
      &.success span:nth-child(1)::before {
        background-color: $success-normal;
      }
      &.danger span:nth-child(1)::before {
        background-color: $error-normal;
      }
      &.warning span:nth-child(1)::before {
        background-color: $warning-normal;
      }
      &.info span:nth-child(1)::before {
        background-color: $grey-6;
      }
      &.critical span:nth-child(1)::before {
        background-color: $critical-normal;
      }
      &.default span:nth-child(1)::before {
        background-color: $grey-2;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      }
      &.primary span:nth-child(1)::before {
        background-color: $primary-normal;
      }
      &.chart1 span:nth-child(1)::before {
        background-color: $updating-normal;
      }
      &.chart2 span:nth-child(1)::before {
        background-color: $success-normal;
      }
      &.chart3 span:nth-child(1)::before {
        background-color: $chart-11;
      }
      &.chart4 span:nth-child(1)::before {
        background-color: $chart-8;
      }
      &.chart5 span:nth-child(1)::before {
        background-color: $chart-9;
      }
      &.chart6 span:nth-child(1)::before {
        background-color: $chart-10;
      }

    }
  }
}

.progress-bar-info {
  background-color: $grey-6;
}

.progress-bar-critical {
  background-color: $critical-normal;
}

.progress-bar-default {
  background-color: $grey-2;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
