.Steps {
  text-align: center;
}
.Steps__Step {
  display: inline-block;
  opacity: .4;

  .icon-arrow-right-line{
    display: inline-block;
    margin: 0 10px;
    font-size: 1rem;
    vertical-align: 0;
  }
}
.Steps__Step--active {
  opacity: 1;
}
