@import '../../style/variables.scss';

.RangePicker {
  display: inline-block;
  min-width: 366px;
  width: auto;
  & > input {
    text-align: center;
    border-style: none;
    &:focus {
      outline: 0;
    }
  }
  &__duration {
    border-bottom: 1px solid $border-2;
    overflow: hidden;
    margin-bottom: 10px;
    button {
      float: left;
    }
  }
  &:hover span.icon-close-line {
    visibility: visible;
  }
  span.glyphicon-calendar{
    line-height: unset;
    color: $icon-2;
  }
  span.icon-close-line {
    font-size: $font-size-12;
    visibility: hidden;
    cursor: pointer;
    vertical-align: inherit;
  }
}

.rc-calendar {
  border-color: $border-2;
  box-shadow: $shadow-timePicker;
}

.rc-calendar-year-panel-selected-cell .rc-calendar-year-panel-year,
.rc-calendar-decade-panel-selected-cell .rc-calendar-decade-panel-decade,
.rc-calendar-month-panel-selected-cell .rc-calendar-month-panel-month {
  background: $primary-normal;
}
.rc-calendar-prev-month-btn:hover,
.rc-calendar-next-month-btn:hover,
.rc-calendar-prev-year-btn:hover,
.rc-calendar-next-year-btn:hover,
.rc-calendar-year-select:hover,
.rc-calendar-month-select:hover,
.rc-calendar-day-select:hover,
.rc-calendar-decade-panel-header > a:hover,
.rc-calendar-month-panel-header > a:hover,
.rc-calendar-year-panel-header > a:hover,
li.rc-time-picker-panel-select-option-selected {
  color: $primary-normal;
}
.rc-calendar-month-panel-cell .rc-calendar-month-panel-month:hover,
.rc-calendar-year-panel-year:hover,
.rc-calendar-decade-panel-decade:hover,
.rc-time-picker-panel-select li:hover,
.rc-calendar-date:hover {
  background: $primary-bg !important;
}
.rc-calendar-range .rc-calendar-in-range-cell,
li.rc-time-picker-panel-select-option-selected {
  background: $primary-bg;
}

.rc-calendar-date-panel {
  border-top: 3px solid $primary-normal;
}
.rc-calendar-today .rc-calendar-date {
  border: 1px solid $primary-normal;
}
.rc-calendar-selected-date .rc-calendar-date {
    background: transparent;
    color: $text-2;
    &:hover {
      background: $primary-bg;
    }
}
.rc-calendar-ok-btn,
.rc-calendar-selected-day .rc-calendar-date {
  background: $primary-normal;
  color: $white;
}
.rc-calendar-time-picker-btn {
  color: $primary-normal;
  &:hover {
    color: $primary-normal;
  }
  &.rc-calendar-time-picker-btn-disabled {
    color: $primary-disable;
    cursor: not-allowed;
    text-decoration: unset;
  }
}
.rc-calendar-ok-btn {
  padding: 5px 15px;
  border-radius: $radius-4-btn;
  margin-right: 12px;
  &:hover {
    color: $white;
  }
  &.rc-calendar-ok-btn-disabled {
    cursor: not-allowed;
    background: $primary-disable
  }
}
.rc-time-picker-panel-select ul {
  max-height: 216px;
}
.rc-calendar-time-picker {
  border-bottom: 1px solid $border-2;
}
.rc-calendar-range .rc-calendar-footer-btn {
  padding: 10px 0;
}
.rc-calendar-time-picker-panel .rc-time-picker-panel-select {
  width: 83px;
}
.rc-calendar-range-right .rc-calendar-time-picker-panel {
  left: 2px;
}
