$purple-1: #f0e8ff;
$purple-2: #ddccff;
$purple-3: #c7b1fc;
$purple-4: #b297fc;
$purple-5: #9a7dfa;
$purple-6: #8264fa;
$purple-7: #563ecf;
$purple-8: #3221a3;
$purple-9: #170c78;
$purple-10: #05004d;

$blue-1: #e8f5ff;
$blue-2: #c7e6ff;
$blue-3: #a8d5ff;
$blue-4: #8ac2ff;
$blue-5: #6baeff;
$blue-6: #4d97ff;
$blue-7: #2f6ed4;
$blue-8: #194aa6;
$blue-9: #092d7a;
$blue-10: #00164d;

$azure-1: #e8fdff;
$azure-2: #c2f7ff;
$azure-3: #9eefff;
$azure-4: #7ae4ff;
$azure-5: #57d8ff;
$azure-6: #33c9ff;
$azure-7: #209ed4;
$azure-8: #1174a6;
$azure-9: #06507a;
$azure-10: #002e4d;

$green-1: #e8ffec;
$green-2: #bdf2c8;
$green-3: #97e6aa;
$green-4: #75d990;
$green-5: #56cc79;
$green-6: #39bf66;
$green-7: #24a353;
$green-8: #148742;
$green-9: #076931;
$green-10: #004d24;

$olivine-1: #feffe8;
$olivine-2: #eff2bd;
$olivine-3: #dee697;
$olivine-4: #cbd975;
$olivine-5: #b8cc56;
$olivine-6: #a4bf39;
$olivine-7: #85a324;
$olivine-8: #698714;
$olivine-9: #4b6907;
$olivine-10: #334d00;

$yellow-1: #fffbe8;
$yellow-2: #fff3c2;
$yellow-3: #ffe89e;
$yellow-4: #ffdc7a;
$yellow-5: #ffcd57;
$yellow-6: #ffbb33;
$yellow-7: #d49220;
$yellow-8: #a66a11;
$yellow-9: #7a4806;
$yellow-10: #4d2900;

$orange-1: #fff6e8;
$orange-2: #ffe4c2;
$orange-3: #ffd29e;
$orange-4: #ffbd7a;
$orange-5: #ffa557;
$orange-6: #ff8b33;
$orange-7: #d46820;
$orange-8: #a64711;
$orange-9: #7a2d06;
$orange-10: #4d1700;

$red-1: #ffece8;
$red-2: #ffcec7;
$red-3: #ffb1a8;
$red-4: #ff928a;
$red-5: #ff706b;
$red-6: #ff4d4d;
$red-7: #d42f34;
$red-8: #a61922;
$red-9: #7a0914;
$red-10: #4d000a;

$deep-red-1: #ffe9e8;
$deep-red-2: #f2b8b8;
$deep-red-3: #e68e91;
$deep-red-4: #d96870;
$deep-red-5: #cc4553;
$deep-red-6: #bf263b;
$deep-red-7: #a31830;
$deep-red-8: #870e26;
$deep-red-9: #69051c;
$deep-red-10: #4d0014;

$grey-1: #f7f8fb;
$grey-2: #f3f4f8;
$grey-3: #ecedf3;
$grey-4: #e2e4ed;
$grey-5: #d7dae7;
$grey-6: #c4c8d6;
$grey-7: #abafc0;
$grey-8: #808495;
$grey-9: #555a6b;
$grey-10: #404556;
$grey-11: #2a2f40;

$white: #fff;
$black: #000;

/********************************
*            业务颜色           *
********************************/
$primary-normal: $purple-6;
$primary-hover: $purple-5;
$primary-click: $purple-7;
$primary-bg: $purple-1;
$primary-disable: rgba($primary-normal, 0.4);

$success-normal: $green-6;
$success-hover: $green-5;
$success-click: $green-7;
$success-bg: $green-1;
$success-disable: rgba($success-normal, 0.4);

$warning-normal: $yellow-6;
$warning-hover: $yellow-5;
$warning-click: $yellow-7;
$warning-bg: $yellow-1;
$warning-disable: rgba($warning-normal, 0.4);

$error-normal: $red-6;
$error-hover: $red-5;
$error-click: $red-7;
$error-bg: $red-1;
$error-disable: rgba($error-normal, 0.4);

$critical-normal: $deep-red-6;
$critical-hover: $deep-red-5;
$critical-click: $deep-red-7;
$critical-bg: $deep-red-1;
$critical-disable: rgba($critical-normal, 0.4);

$updating-normal: $blue-6;
$updating-hover: $blue-5;
$updating-click: $blue-7;
$updating-bg: $blue-1;
$updating-disable: rgba($updating-normal, 0.4);

$offline-normal: $grey-7;
$offline-hover: $grey-6;
$offline-click: $grey-8;
$offline-disabled: rgba($offline-normal, 0.4);

$text-1: $grey-11;
$text-2: $grey-9;
$text-3: $grey-8;

$text-success: $green-7;
$text-warning: $yellow-7;
$text-error: $red-7;
$text-critical: $deep-red-7;
$text-updating: $blue-7;

$icon-1: $grey-8;
$icon-2: $grey-7;

/** 图表颜色 **/
$chart-1: $purple-6;
$chart-1-bg: $purple-4;
$chart-1-hover: $purple-5;
$chart-1-bg-hover: $purple-3;
$chart-1-click: $purple-7;
$chart-1-bg-click: $purple-5;
$chart-1-disable: rgba($purple-6, 0.3);
$chart-1-bg-disable: rgba($purple-4, 0.3);

$chart-2: $blue-6;
$chart-2-bg: $blue-4;
$chart-2-hover: $blue-5;
$chart-2-bg-hover: $blue-3;
$chart-2-click: $blue-7;
$chart-2-bg-click: $blue-5;
$chart-2-disable: rgba($blue-6, 0.3);
$chart-2-bg-disable: rgba($blue-4, 0.3);

$chart-3: $yellow-6;
$chart-3-bg: $yellow-4;
$chart-3-hover: $yellow-5;
$chart-3-bg-hover: $yellow-3;
$chart-3-click: $yellow-7;
$chart-3-bg-click: $yellow-5;
$chart-3-disable: rgba($yellow-6, 0.3);
$chart-3-bg-disable: rgba($yellow-4, 0.3);

$chart-4: $green-6;
$chart-4-bg: $green-4;
$chart-4-hover: $green-5;
$chart-4-bg-hover: $green-3;
$chart-4-click: $green-7;
$chart-4-bg-click: $green-5;
$chart-4-disable: rgba($green-6, 0.3);
$chart-4-bg-disable: rgba($green-4, 0.3);

$chart-5: $orange-6;
$chart-5-bg: $orange-4;
$chart-5-hover: $orange-5;
$chart-5-bg-hover: $orange-3;
$chart-5-click: $orange-7;
$chart-5-bg-click: $orange-5;
$chart-5-disable: rgba($orange-6, 0.3);
$chart-5-bg-disable: rgba($orange-4, 0.3);

$chart-6: $azure-6;
$chart-6-bg: $azure-4;
$chart-6-hover: $azure-5;
$chart-6-bg-hover: $azure-3;
$chart-6-click: $azure-7;
$chart-6-bg-click: $azure-5;
$chart-6-disable: rgba($azure-6, 0.3);
$chart-6-bg-disable: rgba($azure-4, 0.3);

$chart-7: $olivine-6;
$chart-7-bg: $olivine-4;
$chart-7-hover: $olivine-5;
$chart-7-bg-hover: $olivine-3;
$chart-7-click: $olivine-7;
$chart-7-bg-click: $olivine-5;
$chart-7-disable: rgba($olivine-6, 0.3);
$chart-7-bg-disable: rgba($olivine-4, 0.3);

$chart-8: $purple-4;
$chart-8-bg: $purple-2;
$chart-8-hover: $purple-3;
$chart-8-bg-hover: $purple-1;
$chart-8-click: $purple-5;
$chart-8-bg-click: $purple-3;
$chart-8-disable: rgba($purple-4, 0.3);
$chart-8-bg-disable: rgba($purple-2, 0.3);

$chart-9: $blue-4;
$chart-9-bg: $blue-2;
$chart-9-hover: $blue-3;
$chart-9-bg-hover: $blue-1;
$chart-9-click: $blue-5;
$chart-9-bg-click: $blue-3;
$chart-9-disable: rgba($blue-4, 0.3);
$chart-9-bg-disable: rgba($blue-2, 0.3);

$chart-10: $red-5;
$chart-10-bg: $red-3;
$chart-10-hover: $red-4;
$chart-10-bg-hover: $red-2;
$chart-10-click: $red-6;
$chart-10-bg-click: $red-4;
$chart-10-disable: rgba($red-5, 0.3);
$chart-10-bg-disable: rgba($red-3, 0.3);

$chart-11: $grey-6;
$chart-11-bg: $grey-4;
$chart-11-hover: $grey-5;
$chart-11-bg-hover: $grey-3;
$chart-11-click: $grey-7;
$chart-11-bg-click: $grey-5;
$chart-11-disable: rgba($grey-6, 0.3);
$chart-11-bg-disable: rgba($grey-4, 0.3);

/** 背景颜色 **/
$bg-1: $grey-3;
$bg-2: $grey-1;
$bg-2-hover: $grey-2;
$bg-2-click: $grey-3;
$tooltips-bg: $grey-10;
$tab-bg: $grey-3;
$tab-bg-hover: $grey-5;

/** 边框、线条颜色 **/
$border-1: $grey-5;
$border-2: $grey-4;

/* Badge */
$badge-height: 20px;
$badge-dot-small-size: 6px;

/* UsageBar */
$progress-height: 8px;
$progress-legend-height: 8px;

/* PingFang font */
$pingfang-font: '-apple-system', 'BlinkMacSystemFont', 'Helvetica Neue', 'Helvetica', 'Arial', 'PingFang SC',
'San Francisco', 'Noto Sans', 'Roboto', 'Microsoft Yahei', '微软雅黑', 'Segoe UI', 'sans-serif';

/* Font weight */
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;

/* Font size */
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-32: 32px;
$font-size-40: 40px;

$height-topbar: 50px;

/** 圆角 **/
$radius-none: 0;
$radius-small: 2px;
$radius-middle: 4px;
$radius-large: 8px;
$radius-full: 100%;
/* 中圆角 */
$radius-4-card: $radius-middle;
$radius-4-modal: $radius-middle;
$radius-4-input: $radius-middle;
$radius-4-dropdown: $radius-middle;
$radius-4-popover: $radius-middle;
$radius-4-btn: $radius-middle;
$radius-4-tab: $radius-middle;
/* 全圆角 */
$radius-100-load: $radius-full;
/** 阴影 **/
$shadow-1: rgba(0, 0, 0, 0.06);
$shadow-2: rgba(0, 0, 0, 0.05);
$shadow-3: rgba(0, 0, 0, 0.03);
$shadow-1-bottom: 0px 1px 3px 0px $shadow-2, 0px 1px 4px 0px $shadow-3, 0px 1px 8px 0px $shadow-1;
$shadow-2-bottom: 0px 2px 6px 0px $shadow-2, 0px 2px 8px 0px $shadow-3, 0px 4px 15px 0px $shadow-3;
$shadow-2-top: 0px -2px 6px 0px $shadow-2, 0px -2px 8px 0px $shadow-3, 0px -4px 15px 0px $shadow-3;
$shadow-2-left: -2px 0px 6px 0px $shadow-2, -2px 0px 8px 0px $shadow-3, -4px 0px 15px 0px $shadow-3;
$shadow-2-right: 2px 0px 6px 0px $shadow-2, 2px 0px 8px 0px $shadow-3, 4px 0px 15px 0px $shadow-3;
$shadow-3-bottom: 0px 4px 10px 2px $shadow-2, 0px 4px 15px 5px $shadow-3, 0px 6px 20px 0px $shadow-3;
/* 三级阴影 */
$shadow-modal: $shadow-3-bottom;
/* 二级阴影 */
$shadow-dropdown: $shadow-2-bottom;
$shadow-timePicker: $shadow-2-bottom;
$shadow-popover: $shadow-2-bottom;
$shadow-tooltip: $shadow-2-bottom;
/* 一级阴影 */
$shadow-panel: $shadow-1-bottom;
$shadow-switch: $shadow-1-bottom;

:export {
    successNormal: $success-normal;
    border1: $border-1;
}
