$purple-1: #f1e8ff;
$purple-2: #dcc9ff;
$purple-3: #c5acfc;
$purple-4: #ad8dfc;
$purple-5: #9370fa;
$purple-6: #7855fa;
$purple-7: #5034cf;
$purple-8: #301ca3;
$purple-9: #160a78;
$purple-10: #06004d;

$blue-1: #e8f4ff;
$blue-2: #c7e3ff;
$blue-3: #a8d1ff;
$blue-4: #87bbff;
$blue-5: #66a3ff;
$blue-6: #448aff;
$blue-7: #2a63d4;
$blue-8: #1641a6;
$blue-9: #09277a;
$blue-10: #00124d;

$azure-1: #e8fdff;
$azure-2: #c2f7ff;
$azure-3: #9eefff;
$azure-4: #7ae4ff;
$azure-5: #57d8ff;
$azure-6: #33c9ff;
$azure-7: #209ed4;
$azure-8: #1174a6;
$azure-9: #06507a;
$azure-10: #002e4d;

$green-1: #e8ffee;
$green-2: #bbf2cb;
$green-3: #91e6ad;
$green-4: #6ad993;
$green-5: #47cc7c;
$green-6: #28be69;
$green-7: #1aa35a;
$green-8: #0e874a;
$green-9: #05693a;
$green-10: #004d2b;

$olivine-1: #feffe8;
$olivine-2: #eff2bd;
$olivine-3: #dee697;
$olivine-4: #cbd975;
$olivine-5: #b8cc56;
$olivine-6: #a4bf39;
$olivine-7: #85a324;
$olivine-8: #698714;
$olivine-9: #4b6907;
$olivine-10: #334d00;

$yellow-1: #fffce8;
$yellow-2: #fff2ba;
$yellow-3: #ffe78f;
$yellow-4: #ffd761;
$yellow-5: #ffc636;
$yellow-6: #ffb20b;
$yellow-7: #d48c06;
$yellow-8: #a66703;
$yellow-9: #7a4801;
$yellow-10: #4d2a00;

$orange-1: #fff6e8;
$orange-2: #ffe4c2;
$orange-3: #ffd29e;
$orange-4: #ffbd7a;
$orange-5: #ffa557;
$orange-6: #ff8b33;
$orange-7: #d46820;
$orange-8: #a64711;
$orange-9: #7a2d06;
$orange-10: #4d1700;

$red-1: #ffece8;
$red-2: #fcd1ca;
$red-3: #f7b2ab;
$red-4: #f5958e;
$red-5: #f07571;
$red-6: #eb5555;
$red-7: #c4353a;
$red-8: #9c1c25;
$red-9: #750b15;
$red-10: #4d000a;

$deep-red-1: #ffece8;
$deep-red-2: #edb8af;
$deep-red-3: #db887f;
$deep-red-4: #c95c55;
$deep-red-5: #b83430;
$deep-red-6: #a61111;
$deep-red-7: #8f0a0e;
$deep-red-8: #7a060e;
$deep-red-9: #63020c;
$deep-red-10: #4d000a;

$grey-1: #f6f8fd;
$grey-2: #f1f3fa;
$grey-3: #eaedf6;
$grey-4: #dfe3f1;
$grey-5: #d2d8ed;
$grey-6: #bcc3dc;
$grey-7: #a5acc9;
$grey-8: #9098b4;
$grey-9: #7a829e;
$grey-10: #656d89;
$grey-11: #505774;
$grey-12: #3b425f;
$grey-13: #252c49;

$white: #fff;
$black: #000;

/********************************
*            业务颜色           *
********************************/
$primary-normal: $purple-6;
$primary-hover: $purple-7;
$primary-click: $purple-8;
$primary-bg: $purple-1;
$primary-disable: rgba($primary-normal, 0.4);

$success-normal: $green-6;
$success-hover: $green-7;
$success-click: $green-8;
$success-bg: $green-1;
$success-disable: rgba($success-normal, 0.4);

$warning-normal: $yellow-6;
$warning-hover: $yellow-7;
$warning-click: $yellow-8;
$warning-bg: $yellow-1;
$warning-disable: rgba($warning-normal, 0.4);

$error-normal: $red-6;
$error-hover: $red-7;
$error-click: $red-8;
$error-bg: $red-1;
$error-disable: rgba($error-normal, 0.4);

$critical-normal: $deep-red-6;
$critical-hover: $deep-red-7;
$critical-click: $deep-red-8;
$critical-bg: $deep-red-1;
$critical-disable: rgba($critical-normal, 0.4);

$updating-normal: $blue-6;
$updating-hover: $blue-7;
$updating-click: $blue-8;
$updating-bg: $blue-1;
$updating-disable: rgba($updating-normal, 0.4);

$offline-normal: $grey-7;
$offline-hover: $grey-8;
$offline-click: $grey-9;
$offline-disabled: rgba($offline-normal, 0.4);

$text-1: $grey-13;
$text-2: $grey-11;
$text-3: $grey-9;
$text-4: $grey-8;
$text-5: $white;
$text-6: color-mod($white a(80%));

$text-success: $green-7;
$text-warning: $yellow-7;
$text-error: $red-7;
$text-critical: $deep-red-7;
$text-updating: $blue-7;
$text-offline: $grey-7;

$icon-1: $grey-11;
$icon-2: $grey-9;
$icon-3: $grey-7;

/** 图表颜色 **/
$chart-1: $purple-6;
$chart-1-bg: $purple-4;
$chart-1-hover: $purple-5;
$chart-1-bg-hover: $purple-3;
$chart-1-click: $purple-7;
$chart-1-bg-click: $purple-5;

$chart-2: $blue-6;
$chart-2-bg: $blue-4;
$chart-2-hover: $blue-5;
$chart-2-bg-hover: $blue-3;
$chart-2-click: $blue-7;
$chart-2-bg-click: $blue-5;

$chart-3: $orange-6;
$chart-3-bg: $orange-4;
$chart-3-hover: $orange-5;
$chart-3-bg-hover: $orange-3;
$chart-3-click: $orange-7;
$chart-3-bg-click: $orange-5;

$chart-4: $olivine-6;
$chart-4-bg: $olivine-4;
$chart-4-hover: $olivine-5;
$chart-4-bg-hover: $olivine-3;
$chart-4-click: $olivine-7;
$chart-4-bg-click: $olivine-5;

$chart-5: $azure-6;
$chart-5-bg: $azure-4;
$chart-5-hover: $azure-5;
$chart-5-bg-hover: $azure-3;
$chart-5-click: $azure-7;
$chart-5-bg-click: $azure-5;

$chart-6: $yellow-6;
$chart-6-bg: $yellow-4;
$chart-6-hover: $yellow-5;
$chart-6-bg-hover: $yellow-3;
$chart-6-click: $yellow-7;
$chart-6-bg-click: $yellow-5;

$chart-7: $green-6;
$chart-7-bg: $green-4;
$chart-7-hover: $green-5;
$chart-7-bg-hover: $green-3;
$chart-7-click: $green-7;
$chart-7-bg-click: $green-5;

$chart-8: $purple-4;
$chart-8-bg: $purple-2;
$chart-8-hover: $purple-3;
$chart-8-bg-hover: $purple-1;
$chart-8-click: $purple-5;
$chart-8-bg-click: $purple-3;

$chart-9: $blue-4;
$chart-9-bg: $blue-2;
$chart-9-hover: $blue-3;
$chart-9-bg-hover: $blue-1;
$chart-9-click: $blue-5;
$chart-9-bg-click: $blue-3;

$chart-10: $red-5;
$chart-10-bg: $red-3;
$chart-10-hover: $red-4;
$chart-10-bg-hover: $red-2;
$chart-10-click: $red-6;
$chart-10-bg-click: $red-4;

$chart-11: $grey-6;
$chart-11-bg: $grey-4;
$chart-11-hover: $grey-5;
$chart-11-bg-hover: $grey-3;
$chart-11-click: $grey-7;
$chart-11-bg-click: $grey-5;

/** 背景颜色 **/
$bg-1: $grey-3;
$bg-1-hover: $grey-4;
$bg-1-click: $grey-5;
$bg-2: $grey-1;
$bg-2-hover: $grey-2;
$bg-2-click: $grey-3;

/** 边框颜色 **/
$border-1: $grey-5;
$border-2: $grey-4;

/** 线条颜色 **/
$line-1: $grey-5;
$line-2: $grey-3;
$line-3: $grey-5;

/* Badge */
$badge-height: 20px;
$badge-dot-small-size: 6px;

/* UsageBar */
$progress-height: 8px;
$progress-legend-height: 6px;

/* PingFang font */
$pingfang-font: '-apple-system', 'BlinkMacSystemFont', 'Helvetica Neue', 'Helvetica', 'Arial', 'PingFang SC',
'San Francisco', 'Noto Sans', 'Roboto', 'Microsoft Yahei', '微软雅黑', 'Segoe UI', 'sans-serif';

/* Font weight */
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;

/* Font size */
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-32: 32px;
$font-size-40: 40px;

$height-topbar: 50px;

/** 圆角 **/
$radius-none: 0;
$radius-small: 2px;
$radius-middle: 4px;
$radius-large: 8px;
$radius-full: 100%;
/* 中圆角 */
$radius-4-card: $radius-middle;
$radius-4-modal: $radius-middle;
$radius-4-input: $radius-middle;
$radius-4-dropdown: $radius-middle;
$radius-4-popover: $radius-middle;
$radius-4-btn: $radius-middle;
$radius-4-tab: $radius-middle;
/* 全圆角 */
$radius-100-load: $radius-full;
/** 阴影 **/
$shadow-1: rgba(0, 0, 0, 0.06);
$shadow-2: rgba(0, 0, 0, 0.05);
$shadow-3: rgba(0, 0, 0, 0.03);
$shadow-1-bottom: 0px 1px 3px 0px $shadow-2, 0px 1px 4px 0px $shadow-3, 0px 1px 8px 0px $shadow-1;
$shadow-2-bottom: 0px 2px 6px 0px $shadow-2, 0px 2px 8px 0px $shadow-3, 0px 4px 15px 0px $shadow-1;
$shadow-2-top: 0px -2px 6px 0px $shadow-2, 0px -2px 8px 0px $shadow-3, 0px -4px 15px 0px $shadow-3;
$shadow-2-left: -2px 0px 6px 0px $shadow-2, -2px 0px 8px 0px $shadow-3, -4px 0px 15px 0px $shadow-3;
$shadow-2-right: 2px 0px 6px 0px $shadow-2, 2px 0px 8px 0px $shadow-3, 4px 0px 15px 0px $shadow-3;
$shadow-3-bottom: 0px 4px 10px 2px $shadow-2, 0px 4px 15px 5px $shadow-3, 0px 6px 20px 0px $shadow-3;
$elevation-2-bottom: 0px 4px 15px 0px $shadow-1, 0px 2px 8px 0px $shadow-3, 0px 2px 6px 0px $shadow-2;
/* 三级阴影 */
$shadow-modal: $shadow-3-bottom;
/* 二级阴影 */
$shadow-dropdown: $shadow-2-bottom;
$shadow-timePicker: $shadow-2-bottom;
$shadow-popover: $shadow-2-bottom;
$shadow-tooltip: $shadow-2-bottom;
/* 一级阴影 */
$shadow-panel: $shadow-1-bottom;
$shadow-switch: $shadow-1-bottom;
