@import '../../Layout//theme.scss';

.Header {
  .edit-button {
    @include themify($themes) {
      color: themed('bd-color');
    }
    display: inline-block;
    margin-left: 8px;
    text-decoration: none;
    .glyphicon {
      font-size: 16px;
    }
  }
  &__Sub {
    margin-bottom: 5px;
    b {
      margin-right: 5px;
    }
  }
}