@import '../../style/variables.scss';
.rc-calendar {
  border-radius: $radius-dropdown;
}
.rc-calendar-picker {
  z-index: 1060;
}
.DatePicker {
  input {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border: 1px solid $border-2;
    border-radius: $radius-input;
    outline: none;
    &:focus {
      border-color: $primary-normal;
    }
    &:disabled {
      background-color: $bg-1;
      cursor: not-allowed;
    }
  }
}