@import '../../Layout/theme.scss';

.TopBar {
  .navbar-default  {
    @include themify($themes) {
      background-color: themed('code-bg');
      box-shadow: 0px 1px 2px 0 themed('shadow');
    }
    .navbar-nav > li > a,
    .Tooltip > a,
    .Tooltip > div {
      @include themify($themes) {
        color: themed('bd-color');
      }
      &.active {
        color: #6b58c4;
      }
    }
  }
  height: 51px;
  .navbar-brand {
    padding: 6px 15px;
  }
  .Tooltip > a,
  .Tooltip > div {
    cursor: pointer;
    padding: 15px 10px;
    display: block;
    font-size: $font-size-16;
    &:hover {
      color: #6b58c4;
    }
  }
  .navbar {
    margin: 0;
  }
  .input-group-addon .icon {
    font-size: $font-size-16;
  }
  .svg-icon, .Tooltip .icon {
    margin-right: 8px;
    display: inline-block;
    height: 16px;
    position: relative;
    top: 3px;
    width: 16px;
    svg {
      height: 16px;
      width: 16px;
    }
  }
}
@media(min-width: 768px) {
  .TopBar {
    .navbar-default {
      border: 0;
      box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, .15);
    }
    .Sidebar__Header {
      &.navbar-nav {
        margin: 0;
      }
    }
  }
}
@media(max-width: 768px) {
  .TopBar {
    .Sidebar__Header {
      .navbar-nav {
        margin: 0;
      }
      h3 {
        padding-left: 8px;
      }
    }
  }
}