@import '../../style/variables.scss';
/* dropdown submenu */
.SubMenu {
  .dropdown-submenu-header {
      position: relative;
      font-size: $font-size-14;
      cursor: default;
      color: initial;
      padding: 0;
      text-decoration: none;
      > span {
        padding: 3px 20px;
        font-size: $font-size-14;
        line-height: 1.42857143;
        display: block;
      }
  }

  .dropdown-submenu-header>.dropdown-menu {
      top: 0;
      left: 100%;
      margin-top: -4px;
      margin-left: 0;
      -webkit-border-radius: 0 $radius-4-dropdown $radius-4-dropdown $radius-4-dropdown;
      -moz-border-radius: 0 $radius-4-dropdown $radius-4-dropdown;
      border-radius: 0 $radius-4-dropdown $radius-4-dropdown $radius-4-dropdown;
  }

  .dropdown-submenu-header:hover>.dropdown-menu {
      display: block;
  }

  .dropdown-submenu-header>span:after {
      display: block;
      content: " ";
      float: right;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      border-left-color: $icon-1; /* 图标 */
      margin-top: 5px;
      margin-right: -10px;
  }

  .dropdown-submenu-header.pull-left {
      float: none;
  }

  .dropdown-submenu-header.pull-left>.dropdown-menu {
      left: -100%;
      margin-left: 10px;
      -webkit-border-radius: $radius-4-dropdown 0 $radius-4-dropdown $radius-4-dropdown;
      -moz-border-radius: $radius-4-dropdown 0 $radius-4-dropdown $radius-4-dropdown;
      border-radius: $radius-4-dropdown 0 $radius-4-dropdown $radius-4-dropdown;
  }
}
