@import '../../style/variables.scss';

.detail-toolbar .dropdown-menu,
.list-toolbar .dropdown-menu,
.table-toolbar .dropdown-menu,
.detail-toolbar .dropdown-menu,
.list-toolbar .dropdown-menu,
.table-toolbar .dropdown-menu {
  min-width: auto;
  border: 1px solid $border-2;
  border-top: 3px solid $primary-normal;
  box-shadow: 0 1px 8px rgba(black,0.12);
  &>a {
    text-decoration: none;
    line-height: 24px;
  }
  /*------ 分割线状态样式--------*/
  &>hr.dropdown-divider {
    color: $border-2;
    margin: 3px 20px;
  }
}
.dropup .dropdown-menu {
  min-width: auto;
  border: 1px solid $border-2;
  border-top: 1px solid $border-2;
  border-bottom: 3px solid $primary-normal;
}
.scroll-toolbar .dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}
.dropdown-container {
  .dropdown-item {
    &.disabled {
      pointer-events: auto;
      cursor: not-allowed;
    }
    &:not(.disabled):hover {
      color: #262626;
    }
    &:not(.disabled):focus {
      color: #262626;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }
  }
  &.dropdown-noCaret .dropdown-toggle::after {
    display: none;
  }
}