@import '../../style/variables.scss';

.detail-toolbar + .dropdown-menu,
.list-toolbar + .dropdown-menu,
.table-toolbar + .dropdown-menu,
.detail-toolbar + .dropdown-menu .dropdown-menu,
.list-toolbar + .dropdown-menu .dropdown-menu,
.table-toolbar + .dropdown-menu .dropdown-menu {
  min-width: auto;
  border: 1px solid $border-2;
  border-top: 3px solid $primary-normal;
  box-shadow: $shadow-dropdown;
  &>li>a {
    text-decoration: none;
    line-height: 24px;
  }
  /*------ 分割线状态样式--------*/
  &>li.divider {
    color: $border-2;
    margin: 3px 20px;
  }
  .SubMenu li {
    color: $text-2;
  }
}
.dropup .dropdown-menu {
  min-width: auto;
  border: 1px solid $border-2;
  border-top: 1px solid $border-2;
  border-bottom: 3px solid $primary-normal;
}
.scroll-toolbar + .dropdown-menu,
.scroll-toolbar + .dropdown-menu .dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}