@import '../../style/variables.scss';

.Tooltip {
  display: inline-block;
  & .Tooltip__icon {
    font-size: $font-size-16;
    color: $icon-2;
  }
}
.tooltip {
  &.tooltip-center {
    &.bs-tooltip-top,
    &.bs-tooltip-bottom {
      .tooltip-arrow {
        left: 50%!important;
        transform: translate(-50%, 0)!important;
      }
    }
  }
  .tooltip-inner {
    box-shadow: $shadow-tooltip;
    max-width: 280px;
    max-height: 300px;
    white-space: wrap;
    text-align: start;
    font-size: $font-size-14;
    overflow-y: auto;
  }
  &.contrast {
    &.bs-tooltip-top .tooltip-arrow::before {
      border-top-color: white;
    }
    &.bs-tooltip-end .tooltip-arrow::before {
      border-right-color: white;
    }
    &.bs-tooltip-bottom > .tooltip-arrow::before {
      border-bottom-color: white;
    }
    &.bs-tooltip-start > .tooltip-arrow::before {
      border-left-color: white;
    }
    .tooltip-inner {
      color: black;
      background-color: white;
    }
  }
}