@import '../../style/variables.scss';

.Tooltip {
  display: inline-block;
  & .Tooltip__icon {
    font-size: $font-size-16;
    color: $icon-2;
  }
}
.tooltip {
  .tooltip-inner {
    box-shadow: $shadow-tooltip;
  }
  &.contrast {
    &.bs-tooltip-top .tooltip-arrow::before {
      border-top-color: white;
    }
    &.bs-tooltip-end .tooltip-arrow::before {
      border-right-color: white;
    }
    &.bs-tooltip-bottom > .tooltip-arrow::before {
      border-bottom-color: white;
    }
    &.bs-tooltip-start > .tooltip-arrow::before {
      border-left-color: white;
    }
    .tooltip-inner {
      color: black;
      background-color: white;
    }
  }
}