@import '../../style/variables.scss';

.Tooltip {
  display: inline-block;
  & .Tooltip__icon {
    font-size: $font-size-16;
    color: $icon-2;
  }
}
.tooltip {
  &.contrast {
    &.top > .tooltip-arrow {
      border-top-color: white;
    }
    &.right > .tooltip-arrow {
      border-right-color: white;
    }
    &.bottom > .tooltip-arrow {
      border-bottom-color: white;
    }
    &.left > .tooltip-arrow {
      border-left-color: white;
    }
    .tooltip-inner {
      color: black;
      background-color: white;
      box-shadow: 0 0 20px rgba(black,.3);
    }
  }
}