.Playground {
  &.show {
    background-color: #234361;
  }
  border-radius: 4px;
  padding: 5px;
  color: #fff;
  &__Error {
    background-color: #f24542;
    border-radius: 4px;
    pre {
      padding: 15px;
      background-color: transparent;
      border: 0;
      color: inherit;
    }
  }
  &__View {
    background-color: #fff;
    border-radius: 3px;
    color: #66788a;
    margin: 4px;
    padding: 16px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    button {
      padding: 0;
      opacity: 0;
      max-height: 30px;
      transition: opacity .3s ease;
    }
    &:hover button {
      opacity: 1;
    }
  }
}