.Playground {
  .pane {
    display: flex;
    & > div,
    &-li {
      flex: 1 1 0%;
      height: 63px;
      max-width: 150px;
      color: #fff;
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
  .bg-black {
    background-color: #234361;
    padding: 10px;
  }
  .bg-gray {
    background-color: #e5e7eb;
    padding: 10px;
  }
  .flex-between {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &.show {
    background-color: #234361;
  }
  border-radius: 4px;
  color: #fff;
  &__Error {
    background-color: #f24542;
    border-radius: 4px;
    pre {
      padding: 15px;
      background-color: transparent;
      border: 0;
      color: inherit;
      margin: 0;
    }
  }
  &__View {
    background-color: #fff;
    border-radius: 3px;
    color: #66788a;
    padding: 16px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    position: relative;
    .sub-menu-basic {
      li {
        width: 160px;
      }
    }
    ul {
      list-style: none;
      margin: 0;
    }
    > div {
      width: 100%;
    }
    button.toggle-code {
      opacity: 0;
      right: 0;
      bottom: 0;
      max-height: 30px;
      align-self: flex-end;
      transition: opacity .3s ease;
      position: absolute;
    }
    &:hover button {
      opacity: 1;
    }
    .grid-demo {
      .row {
        & > div:nth-child(odd){
          background-color: rgba(107,88,196, 0.75);
          color: #fff;
        }
        & > div:nth-child(even){
          background-color: rgba(68,138,255, 0.75);
          color: #fff;
        }
        & > div {
          text-align: center;
          padding-top: 24px;
          padding-bottom: 24px;
        }
      }
    }
    .grid-demo-split {
      .row {
        & > div:nth-child(odd) > div {
          background-color: rgba(107,88,196, 0.75);
          color: #fff;
        }
        & > div:nth-child(even) > div {
          background-color: rgba(68,138,255, 0.75);
          color: #fff;
        }
        & > div > div {
          text-align: center;
          padding-top: 24px;
          padding-bottom: 24px;
        }
      }
    }
    .grid-demo,
    .grid-demo-split {
      width: 100%;
      .row {
        background-image: linear-gradient(
          90deg,
          #dad6f7 4.16666667%,
          transparent 4.16666667%,
          transparent 8.33333333%,
          #dad6f7 8.33333333%,
          #dad6f7 12.5%,
          transparent 12.5%,
          transparent 16.66666667%,
          #dad6f7 16.66666667%,
          #dad6f7 20.83333333%,
          transparent 20.83333333%,
          transparent 25%,
          #dad6f7 25%,
          #dad6f7 29.16666667%,
          transparent 29.16666667%,
          transparent 33.33333333%,
          #dad6f7 33.33333333%,
          #dad6f7 37.5%,
          transparent 37.5%,
          transparent 41.66666667%,
          #dad6f7 41.66666667%,
          #dad6f7 45.83333333%,
          transparent 45.83333333%,
          transparent 50%,
          #dad6f7 50%,
          #dad6f7 54.16666667%,
          transparent 54.16666667%,
          transparent 58.33333333%,
          #dad6f7 58.33333333%,
          #dad6f7 62.5%,
          transparent 62.5%,
          transparent 66.66666667%,
          #dad6f7 66.66666667%,
          #dad6f7 70.83333333%,
          transparent 70.83333333%,
          transparent 75%,
          #dad6f7 75%,
          #dad6f7 79.16666667%,
          transparent 79.16666667%,
          transparent 83.33333333%,
          #dad6f7 83.33333333%,
          #dad6f7 87.5%,
          transparent 87.5%,
          transparent 91.66666667%,
          #dad6f7 91.66666667%,
          #dad6f7 95.83333333%,
          transparent 95.83333333%
        );
        background-size: 100% 5%;
        margin-bottom: 8px;
      }
    }
    .container {
      width: auto;
    }
    .show-grid [class^=col-] {
      background-color: #eee;
      background-color: rgba(86,61,124,.15);
      border: 1px solid #ddd;
      border: 1px solid rgba(86,61,124,.2);
      padding-bottom: 10px;
      padding-top: 10px;
    }
  }
}