.Sidebar {
  height: calc(100vh - 51px);
  background-color: #f7f7f7;
  position: fixed;
  width: inherit;
  border-right: 1px solid #ececec;
  .Sidebar__Header {
    &.panel {
      border-radius: 0;
      border: 0;
      margin: 0;
    }
    .panel-body {
      padding: 0;
    }
    .panel-title a {
      line-height: 36px;
      display: block;
      padding-left: 25px;
      cursor: pointer;
      text-decoration: none;
    }
    .nav a {
      display: block;
      padding-left: 30px;
      cursor: pointer;
      text-decoration: none;
    }
    a {
      color: #777;
      &.active {
        color: #337ab7;
      }
    }
  }
}