@import '../../Layout/theme.scss';

.Sidebar {
  margin: 0 -8px;
}
@media(min-width: 768px) {
  .Sidebar {
    & > div {
      height: inherit;
      overflow: scroll;
      padding-bottom: 60px;
    }
    &.navbar-default {
      @include themify($themes) {
        background-color: themed('bd-bg');
        color: themed('bd-color');
      }
    }
    &.navbar {
      @include themify($themes) {
        border-right: 1px solid themed('border-color');
      }
      position: fixed;
      width: inherit;
      height: calc(100vh - 51px);
      border: 0;
      border-radius: 0;
    }
    .navbar-nav > li {
      float: none;
      a {
        float: none;
        padding: 8px 0px 8px 10px;
        @include themify($themes) {
          color: themed('bd-color');
        }
        &.active {
          color: #6b58c4;
        }
      }
    }
    &__Header {
      &.navbar-nav {
        float: none;
      }
      .nav a {
        display: block;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}