.Sidebar {
  margin: 0 -8px;
}
@media(min-width: 768px) {
  .Sidebar {
    & > div {
      height: inherit;
      overflow: scroll;
      padding-bottom: 60px;
    }
    &.navbar-default {
      background-color: transparent;
    }
    &.navbar {
      position: fixed;
      width: inherit;
      height: calc(100vh - 51px);
      border: 0;
      border-right: 1px solid #ececec;
      border-radius: 0;
    }
    .navbar-nav > li {
      float: none;
      a {
        float: none;
        padding: 8px 0px 8px 10px;
        &.active {
          color: #6b58c4;
        }
      }
    }
    &__Header {
      &.navbar-nav {
        float: none;
      }
      .nav a {
        display: block;
        cursor: pointer;
        text-decoration: none;
      }
      a {
        color: #777;
      }
    }
  }
}